<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<body>

<div>Здравствуйте[::GREATINGS::]!</div>
<div>&nbsp;</div>
<div>Предлагаем Вашему вниманию готовый набор подарков к 8 марта:</div>
<div>
<ul>
<li><a href="http://stampaviva.ru/gifts/8march2013/" title="[::MAILTITLE::]">http://stampaviva.ru/gifts/8march2013/</a></li>
</ul>
</div>
<div>5 подарков, единый стиль, яркий дизайн. Смотрится очень эффектно!</div>
<div>&nbsp;</div>
<div>Порадуйте Ваших коллег этим стильным подарочным набором!</div>
<div>&nbsp;</div>
		<div>
			<a href="http://stampaviva.ru/gifts/8march2013/" title="[::MAILTITLE::]">
				<img src="/templates/img/8marta2013-mail.jpg" alt="[::MAILTITLE::]" />
			</a>
		</div>
	
		<div>

			<p>
				<div>---</div>
				Мы всегда рады Вашим звонкам:
				<br />
				8 (495) 651-81-04
			</p>
			<p>
				Полиграфическая компания СТАМПА ВИВА
				<br />
				<a href="http://stampaviva.ru/" title="Полиграфическая компания СТАМПА ВИВА">www.StampaViva.ru</a>
			</p>
		</div>
              <!-- http://stampaviva.ru/mailer/mailer/unsub.php?code=12l234 -->
		<a href="http://stampaviva.ru/mailing/unsubscribe/?mail_code=[::MAILCODE::]" title="Отписаться от рассылки">Отписаться от рассылки</a>
		<img src="http://stampaviva.ru/mailer/img12l234.jpg" alt="[::MAILTITLE::]" />
	</body>
</html>
