<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
    <head>
        <title>[::MAILTITLE::]</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
	<body>

        <table cellpadding="0 cellspacing=0" width="700px" border="0">
            <tr>
                <td width="700px" valign="top">
                    <table border="0" cellspacing="0" cellpadding="0" width="700">
                        <tr>
                            <td valign="top" width="582px">
                                <table border="0" cellspacing="0" cellpadding="0" width="582px">
                                    <tr>
                                        <td valign="top">
                                            <a href="http://stampaviva.ru" title="Перейти на сайт StampaViva.ru"><font style="text-decoration:none;"><img src="/templates/june/img/LOGO.jpg" alt="Перейти на сайт StampaViva.ru" width="244" height="48" border="0" /></font></a>
                                            <br /><br />
                                            <font face="Arial" size="2" style="font-size: 13px;">[::GREATINGS::]</font>
                                            <p>
                                                <font face="Arial" size="2" style="font-size: 13px;">
                                                <strong>И снова хорошие новости от компании СТАМПА ВИВА</strong> &mdash; ведущей московской типографии, которая может изготовить из бумаги и картона ВСЁ!
                                                </font>
                                            </p>
                                        </td>
                                        <td valign="top" align="right" width="302">
                                            <img src="/templates/june/img/SHAPKA1.jpg" alt=" " width="302" height="154" border="0" />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" valign="top">
                                            <font face="Arial" size="2" style="font-size: 13px;">
                                            <strong>В течение месяца &mdash; только получателям нашей рассылки &mdash; <font color="red">БОНУС!</font></strong>
                                            </font>
<p>
                                <font face="Arial" size="2" style="font-size: 13px;">Закажите полиграфическую продукцию любым тиражом &mdash; и получите 
                                <font color="red">НА 10% БОЛЬШЕ!</font> <strong>В подарок!</strong></font></p>

                                <p>
                                    <font face="Arial" size="2" style="font-size: 13px;">Промо-код: <strong><font color="#e36c0a">В</font><font color="#7030a0">ИЮНЕ</font><font color="#00b050">БОЛЬШЕ</font></strong>. Назовите его менеджеру при оформлении заказа.</font>
                                </p>

                                <p>
                                    <font face="Arial" size="2" style="font-size: 13px;">Вы можете использовать промо-код многократно <strong>до 26 июля 2013 года</strong> при заказе любой печатной продукции.</font>
                                </p>
                                <p>
                        <font face="Arial" size="2" style="font-size: 13px;"><u>Вы заказываете один тираж, а получаете на 10% больше!</u></font>
                        </p>
                        <p>
                            <font face="Arial" size="2" style="font-size: 13px;">А сейчас представляем самые актуальные в июне продукты нашей типографии:</font>
                        </p>
                                        </td>
                                    </tr>
                                </table>
                            </td>
                            <td valign="top" align="left" width="119px">
                                <img src="/templates/june/img/SHAPKA2.jpg" alt="" width="119" height="260" border="0" />
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">

                </td>
            </tr>
        </table>
    </td> 
</tr>
<tr>
    <td width="700px" valign="top">
        <table cellpadding="0 cellspacing=0" width="700px" border="0">
            <tr>
                <td colspan="3" width="700">
                    <h3><font face="Arial" size="3" color="#008DD2" style="font-size: 18px; color:#008DD2; ">НАСТЕННЫЕ КАЛЕНДАРИ</font></h3>
                </td>
            </tr>
            <tr>
                <td width="335" valign="top" align="left"><img src="/templates/june/img/KALENDAR.jpg" alt="Настенные календари" width="317" height="166" border="0" /></td>
                <td width="10px" valign="top"><img src="/templates/june/img/palka.jpg" alt=" " width="1" height="56" border="0" /></td>
                <td width="355" valign="top">
                    <font face="Arial" size="2" style="font-size: 13px;">Готовьтесь к Новому году заранее! Порадуйте Ваших сотрудников, клиентов и партнеров <strong>красивым и полезным презентом</strong> &mdash; настенным перекидным календарем на 2014 год.</font>
                    <p><font face="Arial" size="2" style="font-size: 13px;">Вы можете придумать для Вашего календаря самый необычный, фантазийный дизайн &mdash; возможности нашей типографии позволяют изготовить <strong>календарь абсолютно любой формы и размера.</strong></font></p>
                    <a href="http://stampaviva.ru/calendari/nasten/" title="Настенные календари"><font face="Arial" size="3" color="#e30a7f" style="font-size: 16px; color:#e30a7f; ">Узнать больше</font></a>
                </td>
            </tr>
            <tr>
                <td colspan="3" width="700">
                    <h3><font face="Arial" size="3" color="#008DD2" style="font-size: 18px; color:#008DD2; ">ПАПКИ НА КОЛЬЦАХ</font></h3>
                </td>
            </tr>
            <tr>
                <td width="335" valign="top" align="left"><img src="/templates/june/img/PAPKI.jpg" alt="Папки на кольцах" width="335" height="182" border="0" /></td>
                <td width="10px" valign="top"><img src="/templates/june/img/palka1.jpg" alt=" " width="1" height="56" border="0" /></td>
                <td width="355" valign="top">
                    <font face="Arial" size="2" style="font-size: 13px;">Храните Ваши документы и рекламные материалы в папках на кольцах! Это удобно, стильно и долговечно!</font>
                    <p><font face="Arial" size="2" style="font-size: 13px;">Вы можете заказать у нас <strong>папки любого размера и дизайна</strong>: A3, A4, A5, вертикальные или горизонтальные, с разделителями, карманами и клапанами, кольцом для захвата, металлическими уголками и различными видами декора. <strong>Все Ваши пожелания исполнимы!</strong></font></p>
                    <a href="http://stampaviva.ru/production/papki/" title="Папки на кольцах"><font face="Arial" size="3" color="#e30a7f" style="font-size: 16px; color:#e30a7f; ">Узнать больше</font></a>
                </td>
            </tr>
            <tr>
                <td colspan="3" width="700">
                    <h3><font face="Arial" size="3" color="#008DD2" style="font-size: 18px; color:#008DD2; ">БУМАЖНЫЕ ПАКЕТЫ</font></h3>
                </td>
            </tr>
            <tr>
                <td width="335" valign="top" align="left"><img src="/templates/june/img/PAKET.jpg" alt="Бумажные пакеты" width="315" height="190" border="0" /></td>
                <td width="10px" valign="top"><img src="/templates/june/img/palka2.jpg" alt=" " width="1" height="56" border="0" /></td>
                <td width="355" valign="top">
                    <font face="Arial" size="2" style="font-size: 13px;">Бумажные пакеты, изготовленные в нашей типографии, не только очень красивы, но и чрезвычайно прочны. Вы можете напечатать их на мелованной бумаге или картоне, а также на дизайнерской бумаге, эфалине или имитлине. Мы предлагаем Вам <strong>огромный выбор готовых штампов и все виды послепечатной обработки</strong> (конгрев, тиснение, выборочный УФ-лак и др.).</font>
                    <p><font face="Arial" size="2" style="font-size: 13px;"><strong>Специальные цены на сайте!</strong> Заказывайте выгодно!</font></p>
                    <a href="http://stampaviva.ru/production/parcel/" title="Бумажные пакеты"><font face="Arial" size="3" color="#e30a7f" style="font-size: 16px; color:#e30a7f; ">Узнать больше</font></a>
                </td>
            </tr>
            <tr>
                <td colspan="3" width="700">
                    <h3><font face="Arial" size="3" color="#008DD2" style="font-size: 18px; color:#008DD2; ">КАРТОННАЯ УПАКОВКА</font></h3>
                </td>
            </tr>
            <tr>
                <td width="335" valign="top" align="left"><img src="/templates/june/img/BOX.jpg" alt="Картонная упаковка" width="312" height="174" border="0" /></td>
                <td width="10px" valign="top"><img src="/templates/june/img/palka3.jpg" alt=" " width="1" height="56" border="0" /></td>
                <td width="355" valign="top">
                    <font face="Arial" size="2" style="font-size: 13px;">Наши инженеры разработают наиболее оптимальную конструкцию упаковки <strong>точно под особенности Вашего товара или промопродукции!</strong> Мы изготавливаем коробочки из тонкого картона, а также эксклюзивную подарочную и сувенирную упаковку из кашированного жесткого картона и микрогофрокартона. Возможно производство упаковки маленькими тиражами.</font>
                    <p><font face="Arial" size="2" style="font-size: 13px;"><strong>Пишите, звоните!</strong> Будем рады рассчитать Ваши заказы и ответить на все вопросы!</p>
                    <a href="http://stampaviva.ru/services/packing/" title="Картонная упаковка"><font face="Arial" size="3" color="#e30a7f" style="font-size: 16px; color:#e30a7f; ">Узнать больше</font></a>
                </td>
            </tr>
        </table>
        <br />
    </td>
</tr>
<tr>
    <td width="700px" valign="top" bgcolor="#5b5b5b">
        <table cellpadding="0" cellspacing="0" border="0" width="700">
            <tr>
                <td align="left">

                    &nbsp;<font face="Arial" size="3" color="#FFFFFF" style="font-size: 18px; color: #FFFFFF;">Вы также можете заказать:</font>
                </td>
                <td align="right" valign="top">
                    <a href="http://stampaviva.ru/reklams/" title="Скидки для рекламных агентств"><font face="Arial" size="3" color="#fee916" style="font-size: 15px; color:#fee916;">СКИДКИ ДЛЯ РЕКЛАМНЫХ АГЕНТСТВ</font></a>&nbsp;<br />
                    <font face="Arial" size="2" color="#FFFFFF" style="font-size: 13px; color: #FFFFFF;">Работаем с Москвой и регионами&nbsp;<br />Помощь с доставкой&nbsp;</font>
                </td>
            </tr>
        </table>
        <table cellpadding="0" cellspacing="0" border="0" width="700">
            <tr>
                <td valign="top">
                    <table cellpadding="0" cellspacing="0" border="0">
                        <tr>
                            <td valign="top" width="145px">
                                &nbsp;<a href="http://stampaviva.ru/production/leaflet/" title="Листовки"><font face="Arial" size="2" color="#FFFFFF" style="font-size: 13px; color:#fee916; ">ЛИСТОВКИ</font></a><br>
                                &nbsp;<a href="http://stampaviva.ru/production/buklet/" title="Буклеты"><font face="Arial" size="2" color="#FFFFFF" style="font-size: 13px; color:#fee916; ">БУКЛЕТЫ</font></a><br>
                                &nbsp;<a href="http://stampaviva.ru/production/brochure/" title="Брошюры"><font face="Arial" size="2" color="#FFFFFF" style="font-size: 13px; color:#fee916; ">БРОШЮРЫ</font></a><br>
                                &nbsp;<a href="http://stampaviva.ru/production/notebook/" title="Блокноты"><font face="Arial" size="2" color="#FFFFFF" style="font-size: 13px; color:#fee916; ">БЛОКНОТЫ</font></a><br>
                                &nbsp;<a href="http://stampaviva.ru/production/folder/" title="Вырубные папки"><font face="Arial" size="2" color="#FFFFFF" style="font-size: 13px; color:#fee916; ">ВЫРУБНЫЕ ПАПКИ</font></a><br>
                                &nbsp;<a href="http://stampaviva.ru/production/sample-box/" title="Сэмпл боксы"><font face="Arial" size="2" color="#FFFFFF" style="font-size: 13px; color:#fee916; ">СЭМПЛ БОКСЫ</font></a><br>
                            </td>
                            <td valign="top">
                                <a href="http://stampaviva.ru/kvartal/" title="Календари"><font face="Arial" size="2" color="#FFFFFF" style="font-size: 13px; color:#fee916; ">КАЛЕНДАРИ</font></a><br>
                                <a href="http://stampaviva.ru/services/vobler/" title="Воблеры"><font face="Arial" color="#FFFFFF" size="2" style="font-size: 13px; color:#fee916; ">ВОБЛЕРЫ</font></a><br>
                                <a href="http://stampaviva.ru/services/shelf/" title="Шелфтокеры"><font face="Arial" color="#FFFFFF" size="2" style="font-size: 13px; color:#fee916; ">ШЕЛФТОКЕРЫ</font></a><br>
                                <a href="http://stampaviva.ru/services/dispens/" title="Диспенсеры"><font face="Arial" color="#FFFFFF" size="2" style="font-size: 13px; color:#fee916; ">ДИСПЕНСЕРЫ</font></a><br>
                                <a href="http://stampaviva.ru/services/mobile/" title="Мобайлы"><font face="Arial" color="#FFFFFF" size="2" style="font-size: 13px; color:#fee916; ">МОБАЙЛЫ</font></a><br>
                                <font face="Arial" size="2" color="#FFFFFF" style="font-size: 14px; color: #FFFFFF;">И многое другое</font><br>
                            </td>
                        </tr>
                    </table>
                </td>
                <td width="280" valign="top">
                    <img src="/templates/june/img/podval3.jpg" alt=" " width="275" height="126" border="0" />
                </td>
                <td valign="bottom" align="right" width="160">
                    <a href="http://stampaviva.ru" title="СТАМПА ВИВА - полиграфические услуги в Москве, печать рекламной полиграфии и другой продукции"><font face="Arial" size="3" color="#fee916" style="font-size: 21px; color:#fee916;">StampaViva.ru</font></a>&nbsp;<br /><br />
                    <font face="Arial" size="2" color="#FFFFFF" style="font-size: 18px; color: #FFFFFF;">+7 (495) 921-35-21</font>&nbsp;<br />
                    <a href="mailto:info@stampaviva.ru" title="Напишите нам"><font face="Arial" size="2" color="#C5C6C6" style="font-size: 15px; color: #C5C6C6">info@stampaviva.ru</font></a>&nbsp;<br /><br />
                </td>
            </tr>
        </table>
    </td>
</tr>
<tr> <td width="700"> <table width="700" border="0" cellspacing="0" cellpadding="0"> <tbody><tr> <td width="90" bgcolor="#C5C6C6">&nbsp;</td> <td align="center"><a href="http://stampaviva.ru" title="Перейти на сайт StampaViva.ru"><font face="Arial" size="2" color="#FF6600" style="font-size: 15px; color:#FF6600; ">Перейти на сайт StampaViva.ru</font></a></td> <td width="90" bgcolor="#C5C6C6">&nbsp;</td> <td align="center"><a href="http://stampaviva.ru/newsletter/unsubscribe/?mail_code=[::MAILCODE::]" title="Отписаться от рассылки"><font face="Arial" size="2" color="#FF6600" style="font-size: 15px; color:#FF6600; ">Отписаться от рассылки</font></a></td> <td width="90" bgcolor="#C5C6C6">&nbsp;</td> </tr> </tbody></table> </td> </tr>
</table>
<br />
<!-- http://stampaviva.ru/mailer/mailer/unsub.php?code=12l234 -->
<img src="http://stampaviva.ru/mailer/img12l234.jpg" alt="[::MAILTITLE::]" width="auto" height="auto" border="0" />
</body>
</html>
