<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">
	<body>
<h2 style="font-weight:normal; font-size: 16px !important; color: #000000 !important; "><b>Закажите набор подарков к 8 марта у нас: </b></font><a href="http://stampaviva.ru/gifts/8march2013/" title="[::MAILTITLE::]">http://stampaviva.ru/gifts/8march2013/</a></h2>
		<div>
			<a href="http://stampaviva.ru/gifts/8march2013/" title="[::MAILTITLE::]"><img src="[::MAILCARD::]" alt="[::MAILTITLE::]" /></a>
		</div>
	
		<div>

			<p>
				<div>---</div>
				Мы всегда рады Вашим звонкам:
				<br />
				8 (495) 651-81-04
			</p>
			<p>
				Полиграфическая компания СТАМПА ВИВА
				<br />
				<a href="http://stampaviva.ru/" title="Полиграфическая компания СТАМПА ВИВА">www.StampaViva.ru</a>
			</p>
		</div>
              <!-- http://stampaviva.ru/mailer/mailer/unsub.php?code=12l234 -->
		<img src="http://stampaviva.ru/mailer/img12l234.jpg" alt="[::MAILTITLE::]" />
	</body>
</html>
